<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MojaPrvaTapestryAplikacija Application Test Suite" annotations="1.5">
    <test name="Unit Tests">
        <packages>
            <package name="com.mycompany.mojaprvatapestryaplikacija"/>
        </packages>
    </test>
</suite>
